.buttonTitle {
    background: radial-gradient(rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0) 75%);
    color: white;
    height: 2rem;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stack {
    position: absolute;
    right: 5%;
}

.stack > img {
    max-height: 2rem;
    max-width: 2rem;
    margin: 5px;
}

.description {
    height: 100%;
    position: relative;
}

.description img {
    width: 100%;
    max-width: 720px;
}

.info {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.info * {
    margin: 5px;
}

@media screen and (max-width: 600px) {
    .description {
        font-size: 0.8rem;
    }

    .stack > img {
        display: none;
    }
}