.stack {
    position: absolute;
    right: 5%;
}

.stack > img {
    max-height: 2rem;
    max-width: 2rem;
    margin: 5px;
}

.description {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    /* margin-right: -50px;
    padding-right: 50px;
    padding-left: 50px; */
}

.description img {
    width: 100%;
    max-width: 720px;
}

@media screen and (max-width: 600px) {
    .description {
        font-size: 0.8rem;
    }

    .stack > img {
        display: none;
    }
}