@value backgroundColor from '../../stylesheets/Main.css';

.buttonTitle {
    --shadowOffset: 1.5px;
    --shadowBlur: 2px;
    background: radial-gradient(rgba(50, 50, 50, 0.5) 0, rgba(0, 0, 0, 0) 75%);
    color: white;
    text-shadow: calc(-1 * var(--shadowOffset)) 0 var(--shadowBlur) backgroundColor, 0 var(--shadowOffset) var(--shadowBlur) backgroundColor;
    height: 2rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stack {
    position: absolute;
    right: 5%;
}

.stack > img {
    max-height: 2rem;
    max-width: 2rem;
    margin: 5px;
}

.description {
    height: 100%;
    position: relative;
    text-align: justify;
}

.description img {
    width: 100%;
    max-width: 720px;
    border: solid black 1.5px;
    border-radius: 2px;
}

.info {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.info * {
    margin: 5px;
}

@media screen and (max-width: 600px) {
    .description {
        font-size: 0.8rem;
    }

    .description img {
        max-width: calc(100% - 4px);
        border-width: 1px;
    }
}